<div class="modal2 fade" id="uni_modal2" role='dialog'>
    <div class="modal2-dialog modal2-md modal2-dialog-centered" role="document">
        <div class="modal2-content rounded-0 bg-dark">
            <div class="modal2-header">
                <h5 class="modal2-title"></h5>
            </div>
            <div class="modal2-body">
            </div>
            <div class="modal2-footer">
                <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal2">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal2 fade" id="confirm_modal2" role='dialog'>
    <div class="modal2-dialog modal2-md modal2-dialog-centered" role="document">
        <div class="modal2-content rounded-0 bg-dark">
            <div class="modal2-header">
                <h5 class="modal2-title">Confirmation</h5>
            </div>
            <div class="modal2-body">
                <div id="delete_content"></div>
            </div>
            <div class="modal2-footer">
                <button type="button" class="btn btn-sm btn-flat btn-primary rounded-0" id='confirm' onclick="">Continue</button>
                <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal2">Close</button>
            </div>
        </div>
    </div>
</div>